In [5]:
#lets first install Selenium Library
!pip install selenium

Requirement already satisfied: selenium in c:\users\hrushikesh\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\hrushikesh\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hrushikesh\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hrushikesh\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hrushikesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\users\hrushikesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hrushikesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\users\hrushikesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: async-generator>=1.9 in c:\users\hrushikesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\hrushikesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\hrushikesh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\hrushikesh\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hrushikesh\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hrushikesh\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hrushikesh\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\hrushikesh\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\hrushikesh\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hrushikesh\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [9]:
import pandas as pd
import selenium
from selenium import webdriver

In [10]:
driver = webdriver.Chrome(r"C:\Users\Hrushikesh\Desktop\chromedriver.exe")

<ipython-input-10-0f08a6a66b4c>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\Hrushikesh\Desktop\chromedriver.exe")

In [12]:
driver.get("https://www.naukri.com/")

In [13]:
# enter “Data Analyst” in “Skill, Designations, Companies” field.
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")
# enter “Bangalore” in “enter the location” field.
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

<ipython-input-13-29f97827f25a>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")
<ipython-input-13-29f97827f25a>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")

In [14]:
# click the search button
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-14-a0ff133df9fe>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

# Scraping the data for the first 10 jobs results

In [15]:
url = "https://www.naukri.com/data-analyst-data-analyst-jobs-in-bangalore?k=data%20analyst%2C%20data%20analyst&l=bangalore"

In [16]:
driver.get(url)

In [17]:
job_title=[]
company_name=[]
experience_required=[]
job_location=[]

In [18]:
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:10]

<ipython-input-18-21b8d7f24afe>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="30e0c4a2-b35b-4224-859a-350b61382d5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="591d4d8b-6c9e-48b8-9b3a-8d3d1f2188c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="bb21e4f0-1069-42ba-9276-97e92f88f112")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="f79c91ca-febc-42eb-96f1-7d80a0e916b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="f6ee7c6a-781a-476e-9564-5cc115c4dee0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="a44cdc1e-b3e4-4b82-8e9d-4089d7d761be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="4756c08d-416d-4981-8215-357e624bf706")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="e0e07794-23ac-4c56-9320-1b0a95db19d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="8bfed613-9f1f-4e36-8330-da9a653e1985")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="2b31f84c-9963-47b6-b4c6-adfc65b5a130")>]

In [19]:
for i in title_tag:
    title = i.text
    job_title.append(title)
job_title = job_title[0:10]

print("Below are the top 10 job data's job title: \n", job_title)

Below are the top 10 job data's job title:
 ['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll', 'Data Analyst', 'DG - Business Analyst - Data Visualization & Analytics', 'Data Analyst', 'Data Analyst / Engineer', 'Manager - Data Analyst', 'Data Analyst', 'Job Opportunity For Clinical Data Analyst - CDM', 'Data Analyst', 'Data Analyst']

In [20]:
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

<ipython-input-20-8fc9ac97e45f>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="09cedb22-b753-4bc7-8faa-5f775970402d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="de0c159b-5c4b-4a6a-a4f5-65041e8fad6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="d8febaae-3fc6-4e8d-afd7-d0e7ee70f3db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="6ffe73fc-ee68-4806-b6bc-ab71452ce76f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="720d5de2-51b4-4d07-accc-490826b68752")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="923f1373-a9fb-40b5-9831-826c941d99c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="29341112-b22d-4a00-8227-ae71cd836ecc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="2d786f87-d7b2-4102-87a5-0043cf0f48a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="70f15265-9252-4566-9be3-f9f8c3184eb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="012d39c8-df7e-49ba-9466-64c6be2199b3")>]

In [21]:
for i in company_tag:
    company = i.text
    company_name.append(company)
company_name = company_name[10:20]
print("Below are the top 10 job data's : \n", company_name)

Below are the top 10 job data's :
 ['Genpact', 'GlaxoSmithKline Pharmaceuticals Limited', 'ExecBoardinAsia', 'Cloud Lending Solutions', 'Maruti Suzuki India', 'Rapido', 'Concentrix Daksh Services', 'SYREN TECHNOLOGIES PRIVATE LIMITED', 'CINDREBAY SCHOOL OF FASHION & INTERIOR DESIGN', 'Orcapod Consulting Services Private Limited']

In [22]:
exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tag[0:10]

<ipython-input-22-bb72a43f1c3a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

[<selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="1a823981-8748-42f8-9a52-3ddeb44074ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="d0f0278d-f3bb-46eb-b3d1-950b56b62871")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="08892a74-74f3-471a-854f-8544bcc6b5eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="3c0cb6dc-0741-4774-a369-78b424f5a5bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="9d3cbb00-9762-474d-bd6a-240fb7d570ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="eb3d4e54-4ea0-4722-9c8c-88329fe7306c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="6406d34e-8898-4ed0-9dae-cd15f3eb8c23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="3e9504ec-b6f7-42e0-8a30-e916e507c3ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="51f261a3-b0fc-44ab-82bd-7586d3cde322")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="f58b9035-4e36-4d79-a2ac-e6ed9fac251b")>]

In [24]:
for i in exp_tag: 
    experience_required.append(i.text.split(" ")[0])
experience_required= experience_required[0:10]
print("Below are the top 10 job data's job title: \n", experience_required)

Below are the top 10 job data's job title:
 ['1-6', '3-8', '5-10', '2-5', '4-9', '5-10', '3-7', '3-8', '3-6', '2-5']

In [25]:
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[0:10]

<ipython-input-25-fc55430f8cc0>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

[<selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="a5f87809-c823-478d-adec-7f617c3a66ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="41a5724b-c0f1-41d5-bf48-1cfa9469c6fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="8562bb8e-ee3e-42aa-b302-0dc7dd1ff2d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="e8ab738e-9796-470c-9df6-d05669d3b1ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="46375de9-00f6-4a2f-bea9-bbb4121480dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="519b26b2-709c-41e7-9ad8-3fdcaf95fae3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="f127018c-b89b-4de1-b1e4-8f67b7847e75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="35a9dbb7-56b9-487d-8989-c965a61f3d4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="064e8186-f710-4b0c-9ba8-66bb4fbf22c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28059084bcf6650b57ec066b753c1432", element="dafe7ebd-bcbd-40a2-8a12-0680b165dd70")>]

In [26]:
for i in location_tag:
    location = i.text
    job_location.append(location)
job_location = job_location[0:10]
print("Below are the top 10 job data's company location \n", job_location)

Below are the top 10 job data's company location
 ['Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [27]:
naukri_analytics = pd.DataFrame({'Title':job_title, 
                       'Location': job_location,
                       'Company_Name':company_name, 
                       'Experience':experience_required,                        
                       })
naukri_analytics

,Title,Location,Company_Name,Experience
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Bangalore/Bengaluru,Genpact,1-6
1,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,3-8
2,DG - Business Analyst - Data Visualization & A...,Bangalore/Bengaluru,ExecBoardinAsia,5-10
3,Data Analyst,Bangalore/Bengaluru,Cloud Lending Solutions,2-5
4,Data Analyst / Engineer,"Chennai, Bangalore/Bengaluru",Maruti Suzuki India,4-9
5,Manager - Data Analyst,Bangalore/Bengaluru,Rapido,5-10
6,Data Analyst,Bangalore/Bengaluru,Concentrix Daksh Services,3-7
7,Job Opportunity For Clinical Data Analyst - CDM,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",SYREN TECHNOLOGIES PRIVATE LIMITED,3-8
8,Data Analyst,Bangalore/Bengaluru,CINDREBAY SCHOOL OF FASHION & INTERIOR DESIGN,3-6
9,Data Analyst,Bangalore/Bengaluru,Orcapod Consulting Services Private Limited,2-5

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [30]:
# connect to webdriver
driver = webdriver.Chrome(r"C:\Users\Hrushikesh\Desktop\chromedriver.exe")
# get webpage
driver.get("https://www.naukri.com/")

<ipython-input-30-ffec9e20a4f6>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\Hrushikesh\Desktop\chromedriver.exe")

In [31]:
# enter “Data Scientist” in “Skill, Designations, Companies” field.
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
# enter “Bangalore” in “enter the location” field.
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
# click the search button
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-31-9c1f93df4f61>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")
<ipython-input-31-9c1f93df4f61>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
<ipython-input-31-9c1f93df4f61>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [32]:
# specifying the url of the webpage to be scraped
url = "https://www.naukri.com/data-scientist-data-scientist-jobs-in-bangalore?k=data%20scientist%2C%20data%20scientist&l=bangalore%2C%20bangalore"

# open the webpage through our web driver
driver.get(url)

In [33]:
job_title=[]
job_location=[]
company_name=[]

In [34]:
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:10]

<ipython-input-34-21b8d7f24afe>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="3aaccfb6-3c04-4fb1-9191-1c934de4772e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="6ff307e8-a179-4f70-ae87-425ccca1297d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="792a68a6-8d7e-40aa-a473-1cdf8943ae11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="afe02e67-312c-464f-a1e7-9a589de7bf09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="fd148e01-3ea1-4187-95d7-96892f6e0595")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="bd70afcf-559f-453c-af1f-15cbb6bed55c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="42d80d82-863c-4c23-b446-4e909f7dda52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="8ded0658-f564-4d52-b18a-da486420d0a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="120bdfc4-f355-4da2-9bdb-c30ac96782f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="6271ade5-d3f4-43f5-a7b9-2cbf5010d0ce")>]

In [35]:
for i in title_tag:
    title = i.text
    job_title.append(title)
job_title = job_title[0:10]

print("Below are the top 10 job data's job title: \n", job_title)

Below are the top 10 job data's job title:
 ['Data Scientist: Advanced Analytics', 'Data Scientist - Risk Platform', 'Data Scientist - Risk Platform', 'Data scientist', 'Data Scientist', 'Data Scientist', 'Senior data scientist', 'Healthcare Data Scientist', 'Deputy Manager - Data Scientist', 'Tcs Hiring For Azure ML Data Scientist']

In [36]:
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[0:10]

<ipython-input-36-fc55430f8cc0>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

[<selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="a938c80b-0be2-4065-81ec-80fd23f7abe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="2fcdfb5b-85cc-4387-bc78-77d541a1a431")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="638cf7b2-9ba7-41ea-9759-8a92f1a5a512")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="e8e39686-c6ca-4ec4-9b5d-c24a47a0683f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="0c804980-9971-4bd0-b08a-ac44d1c1ca8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="1e268898-3f5a-4d34-af50-7570503476fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="ba1f5ccd-a78b-4f8b-838d-c32e2adf4eb7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="385ebbde-0d0e-44d3-87af-ec9211fa7e92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="f245629b-070c-4326-bacd-af38668f626c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="5ef0c637-62bb-42b8-adf5-cdf2c2b10cc5")>]

In [37]:
for i in location_tag:
    location = i.text
    job_location.append(location)
job_location = job_location[0:10]
print("Below are the top 10 job data's company location \n", job_location)

Below are the top 10 job data's company location
 ['Bengaluru/Bangalore', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Chennai, Bangalore/Bengaluru\n(WFH during Covid)', 'Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)']

In [38]:
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

<ipython-input-38-8fc9ac97e45f>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="f4b70929-6fa4-466c-95dd-f4c1f9de88ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="c0dc3bb0-4ad5-457a-bf68-f7f37db278e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="88530ab9-1fde-4397-8714-9f131cfd8706")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="f5ff9cf9-4e83-46d3-b3d5-a53e32dd6422")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="404cfe8e-d806-49db-bce9-b9c374d4d7ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="8924e15c-dd64-49e7-a16a-1e75cc66bb18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="6b0d8852-fa68-4577-afb7-71ff981a06c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="065de1bb-2a8a-49e0-bcb9-6359b0b8f1d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="03195a5b-cf4d-4738-ba55-2beda5fd2948")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="19b80e84-e036-4092-899a-dcf7b8c38353")>]

In [39]:
for i in company_tag:
    company = i.text
    company_name.append(company)
company_name = company_name[0:10]
print("Below are the top 10 job data's : \n", company_name)

Below are the top 10 job data's :
 ['IBM India Pvt. Limited', 'Gojek Tech', 'GO-JEK India', 'Superior Group', 'Twilio', 'Thoucentric Technology Pvt ltd', 'Compile Inc', 'Accumed Practice Management DMCC', 'HDFC LIFE INSURANCE COMPANY LIMITED', 'Tata Consultancy Services Ltd.']

In [40]:
naukri_scientist = pd.DataFrame({'Title':job_title, 
                       'Location': job_location,
                       'Company_Name':company_name,                                   
                       })
naukri_scientist

,Title,Location,Company_Name
0,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM India Pvt. Limited
1,Data Scientist - Risk Platform,Bangalore/Bengaluru,Gojek Tech
2,Data Scientist - Risk Platform,Bangalore/Bengaluru,GO-JEK India
3,Data scientist,Bangalore/Bengaluru,Superior Group
4,Data Scientist,Bangalore/Bengaluru,Twilio
5,Data Scientist,Bangalore/Bengaluru,Thoucentric Technology Pvt ltd
6,Senior data scientist,Bangalore/Bengaluru,Compile Inc
7,Healthcare Data Scientist,"Chennai, Bangalore/Bengaluru\n(WFH during Covid)",Accumed Practice Management DMCC
8,Deputy Manager - Data Scientist,Bangalore/Bengaluru,HDFC LIFE INSURANCE COMPANY LIMITED
9,Tcs Hiring For Azure ML Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Tata Consultancy Services Ltd.

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:

In [41]:
driver.get("https://www.naukri.com/")

In [42]:
# enter “Data Scientist” in “Skill, Designations, Companies” field.
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

# click the search button
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-42-7fd1e6a4691e>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")
<ipython-input-42-7fd1e6a4691e>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [43]:
loc_clk=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in loc_clk:
    if i.text == 'Delhi / NCR':   
        i.click() # Checking the checkbox to apply filter on the location
        break

<ipython-input-43-aa678468cef4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_clk=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")

In [44]:
sal_clk=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in sal_clk:
    if i.text == '3-6 Lakhs':   
        i.click() # Checking the checkbox to apply filter on the salary
        break

<ipython-input-44-d831f2cb7f3a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sal_clk=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")

In [45]:
url = "https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508&ctcFilter=3to6"

# open the webpage through our web driver
driver.get(url)

In [46]:
job_title=[]
company_name=[]
job_location=[]
experience_required=[]

In [47]:
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:10]

<ipython-input-47-21b8d7f24afe>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="c07d60d3-42f0-4e2a-91b5-2512e72b0f5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="c6679648-7525-49c6-8ff0-7899a9250fa1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="8dbb4207-486a-4016-b97a-6cdad4e05c4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="0021fdbe-8c81-4f81-aa5d-7cac79546984")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="0b98cd48-d144-4995-9747-41b57bfef8e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="f5ff8dd0-9c0c-4f89-9a10-f0bf45a54543")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="5e0fe02f-602e-4569-8545-6ca976db4726")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="64433da8-8c4f-45c3-a736-c029bfa15132")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="2e64d3fa-5520-4488-8bde-93d69b27bb2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="dfb4ad44-0ffd-4720-9fb6-76aa39aa6321")>]

In [48]:
for i in title_tag:
    title = i.text
    job_title.append(title)
job_title = job_title[0:10]

print("Below are the top 10 job data's job title: \n", job_title)

Below are the top 10 job data's job title:
 ['Data Scientist', 'Hiring For Data Scientist', 'Project Manager | Team Leader | Senior Data Scientist', 'Data Scientist', 'NTT DATA_ Hiring For BIG DATA ,DATA Scientist, Devops', 'Hiring For Data Analyst / Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist/ Senior Data Scientist']

In [49]:
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[0:10]

<ipython-input-49-fc55430f8cc0>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

[<selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="52c97dd9-69b8-4382-b5ec-445b3f3672e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="ac2ca57d-43fd-4886-9158-9a9e9afa709d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="d371bdb3-0149-4786-9a8d-671ea968e33b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="03f91e76-32ac-4bfc-8cac-8d02b36463f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="0e02d5c1-055d-4a33-bd67-c3d9c5e8627f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="ed4d7867-cb5f-438f-8e82-37c944ec22dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="fe4242c7-0ff4-400b-81fa-ffbf2012ceb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="b0cd6b0d-2986-49e7-9ed5-bef0ed695f82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="aa845ed8-7800-4aa6-9189-b59ca580590e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="eee1cbb4-0610-4f99-b4a2-8675aa49bba5")>]

In [50]:
for i in location_tag:
    location = i.text
    job_location.append(location)
job_location = job_location[0:10]
print("Below are the top 10 job data's company location \n", job_location)

Below are the top 10 job data's company location
 ['Noida, New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR', 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)', 'Remote', 'Noida, Nodia\n(WFH during Covid)', 'Noida, Kolkata, Hyderabad/Secunderabad, Ahmedabad, Chennai, Coimbatore, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)', 'Noida(Sector-59 Noida)', 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru', 'Gurgaon/Gurugram', 'Gurgaon/Gurugram', 'Noida']

In [51]:
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

<ipython-input-51-8fc9ac97e45f>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="507ec7a4-346c-4603-ac56-ca38ad35d25b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="717621d5-8bda-49a6-84cf-c194b17b5b3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="66429a0d-cfaa-49e4-876b-89e2570189c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="8db3e3fa-b8f2-4891-b306-99417706b162")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="4c6bbd29-d429-4089-86de-ef0abaf469a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="cc28fb3b-2e2b-4136-94d7-0d384b79e189")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="3b996d21-3e83-453f-bb7d-66f676d0400b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="bf5cf594-a52f-4763-afd6-d82f53e53103")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="e1206f48-2f0a-4fca-b051-11f7ed42eee0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="216d61e7-2c4c-4d95-a444-0a79e995dcd6")>]

In [52]:
for i in company_tag:
    company = i.text
    company_name.append(company)
company_name = company_name[0:10]
print("Below are the top 10 job data's : \n", company_name)

Below are the top 10 job data's :
 ['LG Electronics India Pvt. Ltd.', 'Tata Consultancy Services Ltd.', 'Tidyquant (OPC) Private Limited', 'Navikenz India Pvt Ltd', 'NTT Data Business Solutions Pvt Ltd', 'Careerera', 'Country Veggie', 'Whizhack Technologies pvt ltd', 'One Mobikwik Systems Private Limited', 'Newgen Software Technologies']

In [53]:
exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tag[0:10]

<ipython-input-53-bb72a43f1c3a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

[<selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="545294a8-fc4b-4ec5-8efc-3a83d9648b4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="3e8206af-c0ad-4683-9a1f-073e1410cdf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="819ec950-0205-4cd8-8e84-54f658ee1e5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="8875600c-d57a-466d-9218-c8f744e6da1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="58647f9d-0caa-48bb-aec6-9ff7dfa5c738")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="77d04ebb-b785-4e62-a060-4a11711f364d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="12d968b6-8f01-43f3-b8f3-77dd60b8c2cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="53158c5c-2845-4bca-8a5b-d0a8ea9aa584")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="b7d05487-b1f8-44a1-a72c-721a6ca56de7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a14397a5aadeb1fa6f05bce62f4991d2", element="e545b38e-af20-4206-9da7-6bd8798817fb")>]

In [54]:
for i in exp_tag:
    experience_required.append(i.text.replace("Yrs",""))
experience_required= experience_required[0:10]
print("Below are the top 10 job data's job title: \n", experience_required)

Below are the top 10 job data's job title:
 ['0-2 ', '4-9 ', '1-5 ', '2-7 ', '3-8 ', '1-3 ', '1-3 ', '2-5 ', '2-5 ', '2-5 ']

In [55]:
naukri_filter = pd.DataFrame({'Title':job_title, 
                       'Location': job_location,
                       'Company_Name':company_name, 
                       'Experience':experience_required,                        
                       })
naukri_filter

,Title,Location,Company_Name,Experience
0,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.,0-2
1,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tata Consultancy Services Ltd.,4-9
2,Project Manager | Team Leader | Senior Data Sc...,Remote,Tidyquant (OPC) Private Limited,1-5
3,Data Scientist,"Noida, Nodia\n(WFH during Covid)",Navikenz India Pvt Ltd,2-7
4,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...","Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda...",NTT Data Business Solutions Pvt Ltd,3-8
5,Hiring For Data Analyst / Data Scientist,Noida(Sector-59 Noida),Careerera,1-3
6,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3
7,Data Scientist,Gurgaon/Gurugram,Whizhack Technologies pvt ltd,2-5
8,Data Scientist,Gurgaon/Gurugram,One Mobikwik Systems Private Limited,2-5
9,Data Scientist/ Senior Data Scientist,Noida,Newgen Software Technologies,2-5

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [57]:
driver.get("https://www.flipkart.com/")

In [58]:
# enter “sunglasses” in “search for products, brands and more” field.
search_product = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search_product.send_keys("sunglasses")

# click the search button
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

<ipython-input-58-adab00355ba4>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_product = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
<ipython-input-58-adab00355ba4>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

ElementClickInterceptedException: Message: element click intercepted: Element <button class="L0Z3Pu" type="submit">...</button> is not clickable at point (556, 28). Other element would receive the click: <div class="_2hriZF _2rbIyg" tabindex="-1">...</div>
  (Session info: chrome=96.0.4664.93)
Stacktrace:
Backtrace:
	Ordinal0 [0x00C96903+2517251]
	Ordinal0 [0x00C2F8E1+2095329]
	Ordinal0 [0x00B32848+1058888]
	Ordinal0 [0x00B63509+1258761]
	Ordinal0 [0x00B61868+1251432]
	Ordinal0 [0x00B5F65D+1242717]
	Ordinal0 [0x00B5E4A8+1238184]
	Ordinal0 [0x00B54037+1196087]
	Ordinal0 [0x00B764D3+1336531]
	Ordinal0 [0x00B53A36+1194550]
	Ordinal0 [0x00B765BA+1336762]
	Ordinal0 [0x00B85BBF+1399743]
	Ordinal0 [0x00B7639B+1336219]
	Ordinal0 [0x00B527A7+1189799]
	Ordinal0 [0x00B53609+1193481]
	GetHandleVerifier [0x00E25904+1577972]
	GetHandleVerifier [0x00ED0B97+2279047]
	GetHandleVerifier [0x00D26D09+534521]
	GetHandleVerifier [0x00D25DB9+530601]
	Ordinal0 [0x00C34FF9+2117625]
	Ordinal0 [0x00C398A8+2136232]
	Ordinal0 [0x00C399E2+2136546]
	Ordinal0 [0x00C43541+2176321]
	BaseThreadInitThunk [0x760D5749+25]
	RtlGetAppContainerNamedObjectPath [0x76F6F7B0+288]
	RtlGetAppContainerNamedObjectPath [0x76F6F77E+238]

In [59]:
# specifying the url of the webpage to be scraped
url = "https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

# open the webpage through our web driver
driver.get(url)

In [60]:
page_url=[]

url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:3]

<ipython-input-60-3fe5a9364602>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")

In [61]:
brand=[]
Description=[]
Price=[]
Discount=[] 

# extracting all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in titles_brand:
        brand.append(i.text)
        
    titles_Description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in titles_Price:
        Price.append(i.text.replace("₹",""))
        
    titles_Discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in titles_Discount:
        Discount.append(i.text.replace("% off",""))

<ipython-input-61-a31273f731f8>:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-61-a31273f731f8>:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-61-a31273f731f8>:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-61-a31273f731f8>:22: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [62]:
flipkart=pd.DataFrame({})
flipkart['Brand']=brand[0:100]
flipkart['Product Description']=Description[0:100]
flipkart['Price']=Price[0:100]
flipkart['Discount %']=Discount[0:100]

print("The data for the first 100 sunglasses listings on flipkart.com:\n")
flipkart

The data for the first 100 sunglasses listings on flipkart.com:

,Brand,Product Description,Price,Discount %
0,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),999,50
1,GANSTA,UV Protection Aviator Sunglasses (57),269,86
2,SRPM,UV Protection Wayfarer Sunglasses (56),188,85
3,PIRASO,UV Protection Aviator Sunglasses (54),212,86
4,Elligator,UV Protection Round Sunglasses (54),248,90
...,...,...,...,...
95,ROYAL SON,UV Protection Rectangular Sunglasses (55),664,66
96,kingsunglasses,UV Protection Aviator Sunglasses (59),259,82
97,WROGN,"UV Protection, Riding Glasses Retro Square, Sp...",749,75
98,Lee Topper,"Polarized, UV Protection Aviator Sunglasses (58)",375,71
99,ROYAL SON,UV Protection Rectangular Sunglasses (Free Size),759,62

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

In [63]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"

# open the webpage through our web driver
driver.get(url)

# clicking for all reviews
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span").click()

<ipython-input-63-13e912361f02>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span").click()

In [64]:
page_url=[]

url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:13]

<ipython-input-64-86019b216097>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")

In [65]:
Rating=[]
Review_summary=[]
Full_review=[]

# extracting all the tags

for i in page_url:
    driver.get(i)

    rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rat:
        Rating.append(i.text)

    summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in summary:
        Review_summary.append(i.text)

    review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in review:
        Full_review.append(i.text)

<ipython-input-65-1fdd5ca7f00f>:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-65-1fdd5ca7f00f>:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
<ipython-input-65-1fdd5ca7f00f>:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [66]:
flipkart=pd.DataFrame({})
flipkart['Rating']=Rating[0:100]
flipkart['Review Summary']=Review_summary[0:100]
flipkart['Full Review']=Full_review[0:100]


print("The data for the first 100 reviews data from flipkart.com for iphone11 phone:\n")
flipkart

The data for the first 100 reviews data from flipkart.com for iphone11 phone:

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Awesome,The phone is completely good\nAs far as camera...
96,3,Decent product,Everything u ll like it when u use this iPhone...
97,5,Brilliant,A wort full value for money decision it’s . Si...
98,5,Awesome,Can’t beat the software and hardware integrati...
99,5,Does the job,phone is good but in display is 720p lcd in th...

# Q6: Scrape data for first 100 sneakers you find when you visit https://www.flipkart.com and search for “sneakers” in the search field.

In [67]:
driver.get("https://www.flipkart.com/")

In [68]:
search_product = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search_product.send_keys("sneakers")

# click the search button
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

<ipython-input-68-3b7350471d8f>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_product = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
<ipython-input-68-3b7350471d8f>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

ElementClickInterceptedException: Message: element click intercepted: Element <button class="L0Z3Pu" type="submit">...</button> is not clickable at point (556, 28). Other element would receive the click: <div class="_2hriZF _2rbIyg" tabindex="-1">...</div>
  (Session info: chrome=96.0.4664.93)
Stacktrace:
Backtrace:
	Ordinal0 [0x00C96903+2517251]
	Ordinal0 [0x00C2F8E1+2095329]
	Ordinal0 [0x00B32848+1058888]
	Ordinal0 [0x00B63509+1258761]
	Ordinal0 [0x00B61868+1251432]
	Ordinal0 [0x00B5F65D+1242717]
	Ordinal0 [0x00B5E4A8+1238184]
	Ordinal0 [0x00B54037+1196087]
	Ordinal0 [0x00B764D3+1336531]
	Ordinal0 [0x00B53A36+1194550]
	Ordinal0 [0x00B765BA+1336762]
	Ordinal0 [0x00B85BBF+1399743]
	Ordinal0 [0x00B7639B+1336219]
	Ordinal0 [0x00B527A7+1189799]
	Ordinal0 [0x00B53609+1193481]
	GetHandleVerifier [0x00E25904+1577972]
	GetHandleVerifier [0x00ED0B97+2279047]
	GetHandleVerifier [0x00D26D09+534521]
	GetHandleVerifier [0x00D25DB9+530601]
	Ordinal0 [0x00C34FF9+2117625]
	Ordinal0 [0x00C398A8+2136232]
	Ordinal0 [0x00C399E2+2136546]
	Ordinal0 [0x00C43541+2176321]
	BaseThreadInitThunk [0x760D5749+25]
	RtlGetAppContainerNamedObjectPath [0x76F6F7B0+288]
	RtlGetAppContainerNamedObjectPath [0x76F6F77E+238]

In [69]:
url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

# open the webpage through our web driver
driver.get(url)

In [70]:
page_url=[]

url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:5]

<ipython-input-70-4ad5f720e448>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")

In [72]:
brand=[]
Description=[]
Price=[]
Discount=[] 

# extracting all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in titles_brand:
        brand.append(i.text)
        
    titles_Description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in titles_Price:
        Price.append(i.text.replace("₹",""))
        
    titles_Discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in titles_Discount:
        Discount.append(i.text.replace("% off",""))

<ipython-input-72-a31273f731f8>:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-72-a31273f731f8>:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-72-a31273f731f8>:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-72-a31273f731f8>:22: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [73]:
flipkart=pd.DataFrame({})
flipkart['Brand']=brand[0:100]
flipkart['Product Description']=Description[0:100]
flipkart['Price₹']=Price[0:100]
flipkart['Discount %']=Discount[0:100]

print("The data for the first 100 sneakers listings on flipkart.com:\n")
flipkart

The data for the first 100 sneakers listings on flipkart.com:

,Brand,Product Description,Price₹,Discount %
0,SRK,Sneakers For Men,549,54
1,BIRDE,Sports Running Shoes Sneakers For Men,423,57
2,RapidBox,Super Stylish & Trendy Combo Pack of 02 Pairs ...,590,40
3,BIRDE,Modern Trendy Sneakers Shoes Sneakers For Men,322,35
4,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,536,66
...,...,...,...,...
95,India hub,Designer Printed Casual Sneakers Shoes Sneaker...,449,46
96,India hub,Sneakers For Men,474,35
97,BIRDE,3 Pair Combo Sneakers For Men,535,48
98,BIRDE,Sneakers For Men,322,61
99,SHOEFLY,Puma Smash Vulc Sneakers For Men,259,15

# Q7: Go to the link - https://www.myntra.com/shoes https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black” And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe .

In [74]:
driver.get("https://www.myntra.com/shoes")

In [75]:
price = driver.find_elements_by_xpath("//ul[@class ='price-list']//label[@class ='common-customCheckbox vertical-filters-label']/div[@class = 'common-checkboxIndicator']") 
price[1].click()

<ipython-input-75-ed8c0f007a2b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver.find_elements_by_xpath("//ul[@class ='price-list']//label[@class ='common-customCheckbox vertical-filters-label']/div[@class = 'common-checkboxIndicator']")

In [76]:
color = driver.find_elements_by_xpath("//li[@class ='colour-listItem']//label[@class ='common-customCheckbox']/div[@class = 'common-checkboxIndicator']") 
color[0].click()

<ipython-input-76-919b4222bcda>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  color = driver.find_elements_by_xpath("//li[@class ='colour-listItem']//label[@class ='common-customCheckbox']/div[@class = 'common-checkboxIndicator']")

In [77]:
url = "https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0"

# open the webpage through our web driver
driver.get(url)

In [78]:
page_url=[]

url=driver.find_elements_by_xpath("//li[@class='pagination-number']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:2]

<ipython-input-78-f6dfb382be4b>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  url=driver.find_elements_by_xpath("//li[@class='pagination-number']//a")

In [79]:
brand=[]
Description=[]
Price=[]

# extracting all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in titles_brand:
        brand.append(i.text)
    
    titles_Description=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in titles_Price:
        Price.append(i.text)

<ipython-input-79-6f2f80b2994d>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")
<ipython-input-79-6f2f80b2994d>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Description=driver.find_elements_by_xpath("//h4[@class='product-product']")
<ipython-input-79-6f2f80b2994d>:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Price=driver.find_elements_by_xpath("//div[@class='product-price']")

In [80]:
myntra =pd.DataFrame({})
myntra['Brand']=brand[0:100]
myntra['Shoe Description']=Description[0:100]
myntra['Price']=Price[0:100]

print("The data for the first 100 sneakers listings on myntra.com:\n")
myntra

The data for the first 100 sneakers listings on myntra.com:

,Brand,Shoe Description,Price
0,Geox,Men Leather Formal Derbys,Rs. 9999
1,Hush Puppies,Men Solid Formal Leather Slip-Ons,Rs. 8999Rs. 9999(10% OFF)
2,Saint G,Women Leather Heeled Boots,Rs. 13050Rs. 14500(Rs. 1450 OFF)
3,Bugatti,Leather Heeled Knee Boots,Rs. 12999
4,Saint G,Women Leather Heeled Boots,Rs. 12900Rs. 14500(Rs. 1600 OFF)
...,...,...,...
95,Saint G,High-Top Block Heeled Boots,Rs. 12500Rs. 14500(Rs. 2000 OFF)
96,ASICS,Women Running Shoes,Rs. 9999
97,Birkenstock,Women Mayari Open Toe Flats,Rs. 7490
98,Birkenstock,Women Arizona Oiled Leather Flats,Rs. 11990
99,Florsheim,Men Solid Leather Formal Brogues,Rs. 7495

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [82]:

# get webpage
driver.get("https://www.amazon.in/")

In [83]:
search_product = driver.find_element_by_xpath("//div[@class='nav-search-field ']/input")
search_product.send_keys("laptop")

# click the search button
search_btn = driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")
search_btn.click()

<ipython-input-83-4f230ac92309>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_product = driver.find_element_by_xpath("//div[@class='nav-search-field ']/input")
<ipython-input-83-4f230ac92309>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")

In [84]:
i7_clk=driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")
for i in i7_clk:
    if i.text == 'Intel Core i7':   
        i.click() # Checking the checkbox to apply filter on the laptop
        break

<ipython-input-84-164f6e2dc5ec>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  i7_clk=driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")

In [85]:
i9_clk=driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")
for i in i9_clk:
    if i.text == 'Intel Core i9':   
        i.click() # Checking the checkbox to apply filter on the laptop
        break

<ipython-input-85-984ac3d015dc>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  i9_clk=driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")

In [86]:
url = "https://www.amazon.in/s?k=laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&qid=1639316013&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_12"

# open the webpage through our web driver
driver.get(url)

In [87]:
Title=[]
Rating=[]
Price=[]

# extracting all the tags

titles=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in titles:
    Title.append(i.text)
    
titles_rat=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span")
for i in titles_rat:
    Rating.append(i.get_attribute("aria-label"))
        
titles_Price=driver.find_elements_by_xpath("//span[@class='a-price']")
for i in titles_Price:
    Price.append(i.text[1:])

<ipython-input-87-7b03a181b0f3>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
<ipython-input-87-7b03a181b0f3>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_rat=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span")
<ipython-input-87-7b03a181b0f3>:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_Price=driver.find_elements_by_xpath("//span[@class='a-price']")

In [88]:
rating=[]
for i in range(0,len(Rating)):
    if i == 0 or  i/2 == i//2:
        rating.append(Rating[i][0:3])

In [89]:
amazon =pd.DataFrame({})
amazon['Title']=Title[0:10]
amazon['Rating']=rating[0:10]
amazon['Price']=Price[0:10]

print("The data for the first 10 laptops data on amazon.com:\n")
amazon

The data for the first 10 laptops data on amazon.com:

                                               Title Rating     Price
0  Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inche...    4.3    92,990
1  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...    4.1    88,990
2  Mi Notebook Pro QHD+ IPS Anti Glare Display In...    4.3    72,999
3  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...    4.3  1,02,490
4  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...    4.3    84,990
5  HP Pavilion Gaming(2021) 10th Gen Intel Core i...    4.1    86,990
6  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...    4.1  1,03,500
7  Mi Notebook Horizon Edition 14 Intel Core i7-1...    4.2    49,990
8  Dell 15 (2021) i7-11800H Gaming Laptop, 16GB, ...    4.2  1,05,703
9  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...    4.6    88,490

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [90]:
driver.get(" https://www.ambitionbox.com//")

In [91]:
cl_job = driver.find_element_by_xpath("//a[@class='link jobs']")
cl_job.click()

<ipython-input-91-39a87aaa856a>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cl_job = driver.find_element_by_xpath("//a[@class='link jobs']")

In [92]:
search_title = driver.find_element_by_xpath("//span[@class='twitter-typeahead']/input")
search_title.send_keys("Data Scientist")

#click on search button.
search_btn = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search_btn.click()

<ipython-input-92-58b0a9f93016>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_title = driver.find_element_by_xpath("//span[@class='twitter-typeahead']/input")
<ipython-input-92-58b0a9f93016>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")

In [93]:
cl_loc = driver.find_element_by_xpath("//div[@class='show-flex']/div[2]") # Location dropdown
cl_loc.click()    
driver.find_element_by_id("location_Noida").click() # Select Noida

<ipython-input-93-96b411081b75>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cl_loc = driver.find_element_by_xpath("//div[@class='show-flex']/div[2]") # Location dropdown
<ipython-input-93-96b411081b75>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id("location_Noida").click() # Select Noida

In [94]:
#creating empty list
company_name = []
job_posted = []
rating = []

#Scraing all tags

company=driver.find_elements_by_xpath("//div[@class='company-info']")
for i in company:
    company_name.append(i.text.split("\n")[0])
    rating.append(i.text.split("\n")[1])
    
posted=driver.find_elements_by_xpath("//span[@class='body-small-l']")
for i in posted:
    job_posted.append(i.text)
    
# extratcing job posted days from the unorganised job posted tag

posted=[]
for i in range(0,len(job_posted)):
    if i == 0 or  i/2 == i//2:
        posted.append(job_posted[i])

<ipython-input-94-79725e35ffb4>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company=driver.find_elements_by_xpath("//div[@class='company-info']")

IndexError: list index out of range

In [95]:
ambition = pd.DataFrame({})
ambition["Company_name"] = company_name[1:]
ambition["Job_Posted"] = posted
ambition["Rating"] = rating[1:]

print("The data for the first 10 jobs results in ambitionbox.com :\n ")
ambition

NameError: name 'posted' is not defined

# Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [97]:
driver.get(" https://www.ambitionbox.com//")

In [98]:
driver.find_element_by_xpath("//a[@class='link salaries']").click() #Salaries

<ipython-input-98-5110c892d109>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//a[@class='link salaries']").click() #Salaries

In [99]:
search_job = driver.find_element_by_id("jobProfileSearchbox")
search_job.send_keys("Data Scientist")

clk=driver.find_elements_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']")
for i in clk:
    if i.text == 'Data Scientist':   
        i.click() # click on “Data Scientist”
        break

<ipython-input-99-5049d4416a9b>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("jobProfileSearchbox")
<ipython-input-99-5049d4416a9b>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  clk=driver.find_elements_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']")

In [100]:
company_name = []
salary_record = []
average_salary = []
min_salary = []
max_salary = []
exp = []

#Scraing all tags

company=driver.find_elements_by_xpath("//div[@class='company-info']")
for i in company:
    company_name.append(i.text.split("\n")[0])                              #company name
    salary_record.append(i.text.replace("based on", " ").replace("salaries","").split("\n")[1:2]) #Total Salary Record
    exp.append(i.text.replace("yrs exp","").replace("yr exp","").split("\n")[-1])                # Experience required
    
avg_salary=driver.find_elements_by_xpath("//div[@class='average-indicator-wrapper']")
for i in avg_salary:
    average_salary.append(i.text.replace("₹","").replace("L",""))            # average salary

salary=driver.find_elements_by_xpath("//div[@class='salary-values']")
for i in salary:
    min_salary.append(i.text.replace("₹","").replace("L","").split("\n")[0])  # minimum salary
    max_salary.append(i.text.replace("₹","").replace("L","").split("\n")[1])  # maximum salary

<ipython-input-100-5bcda8c105a3>:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company=driver.find_elements_by_xpath("//div[@class='company-info']")
<ipython-input-100-5bcda8c105a3>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  avg_salary=driver.find_elements_by_xpath("//div[@class='average-indicator-wrapper']")
<ipython-input-100-5bcda8c105a3>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  salary=driver.find_elements_by_xpath("//div[@class='salary-values']")

In [101]:
ambition =pd.DataFrame({})
ambition["Company_Name"] = company_name[:10]
ambition["Total_Salary_Record"] = salary_record[:10]
ambition["Experience_Required"] = exp[:10]
ambition["Average_Salary_L"] = average_salary[:10]
ambition["Minimum_Salary_L"] = min_salary
ambition["Maximum_Salary_L"] = max_salary

print("The data for the first 10 Companies results in ambitionbox.com :\n ")
ambition

The data for the first 10 Companies results in ambitionbox.com :

,Company_Name,Total_Salary_Record,Experience_Required,Average_Salary_L,Minimum_Salary_L,Maximum_Salary_L
0,Tekion,[ 10 ],4,23.3,14.0,32.0
1,Microsoft Corporation,[ 218 ],1-4,22.4,12.0,45.0
2,Goldman Sachs,[ 11 ],2,21.9,16.0,30.0
3,Flipkart,[ 53 ],1-4,20.6,7.0,30.0
4,Amazon,[ 80 ],1-4,19.1,8.0,40.0
5,Arcesium,[ 35 ],1,18.4,12.0,30.0
6,Servicenow Software Development India,[ 27 ],2-3,18.2,12.0,25.0
7,ServiceNow,[ 15 ],3,18.2,12.7,23.0
8,Walmart,[ 77 ],1-4,17.9,10.0,32.0
9,PayPal,[ 12 ],1,17.6,12.0,23.0

In [102]:
# close the driver
driver.close()